{
    crowdsec {
        api_url {$CROWDSEC_API_URL}
        api_key {$CROWDSEC_API_KEY}
    }

    log {
        level WARN
    }
}

{$DOMAIN} {
    log {
        output file /var/log/caddy/access.log
    }

    route {
        crowdsec
        reverse_proxy app:3000
    }
}

{$DOMAIN_WWW} {
    redir https://{DOMAIN}{uri}
}

{$DOMAIN_STATS} {
    route {
        crowdsec
        reverse_proxy goatcounter:8082
    }
}
